.input-group {
    position: relative;
    width: 100%;
    max-width: 400px;

    input {
        background: none !important;
        border: none;
        border-bottom: 3px solid #ddd;
        width: 100%;
        max-width: 400px;
        color: var(--main-text-color);
        padding: .3rem;
        font-size: 1.1rem;

        &:focus {
            outline: none;
        }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active  {
        box-shadow: none !important;
        background: none !important;
        background-color: transparent !important;
        -webkit-box-shadow: 0 0 0 30px var(--main-bg-color) inset !important;
        -webkit-text-fill-color: var(--main-text-color) !important;
    }

    label {
        position: absolute;
        width: 0px;
        height: 3px;
        background-color: var(--primary-color);
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        transition: all .2s;
    }

    input:focus + label {
        width: 100%;
    }
}