$excellent: #0de278;
$good: #13d685;
$satisfactory: #ff8829;
$bad: #fc393e;

.points-card {
    display: inline-block;
    padding: .2rem .5rem;
    border-radius: 7px;
    font-weight: 900;
    color: #fff;

    .divider {
        margin: 0 .15rem;
    }

    &.excellent {
        background-color: $excellent;
    }
    &.good {
        background-color: $good;
    }
    &.satisfactory {
        background-color: $satisfactory;
    }
    &.bad {
        background-color: $bad;
    }
}

.status-icon {
    font-size: 1.2rem;
    
    &.excellent {
        color: $excellent;
    }
    &.good {
        color: $good;
    }
    &.satisfactory {
        color: $satisfactory;
    }
    &.bad {
        color: $bad;
    }
}