@import '../../css/config';

.test-card {

    .points-card, .result-link {
        margin-top: .5rem;
    }

    .result-link {
        margin-left: 1rem;

        &:hover {
            text-decoration: underline;
        }
    }
}

.profile-block {
    @include tablet-xxsm {
        flex-direction: column;
        justify-content: center;

        .profile-info {
            width: 100%;
            margin-left: 2rem;
        }
    }

    display: flex;
    margin-bottom: 2rem;
    align-items: center;

    .profile-img {
        width: 160px;
        
        img {
            width: 100%;
        }
    }

    .profile-info {

        &__block {
            margin: .2rem 0;
            font-size: 1.1rem;
        }
    }
}

.results-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    .row {
        width: 100%;
        display: flex;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, .05);
        }

        &.head {
            cursor: initial;
            
            .cell {
                text-align: center;
                font-weight: 800;
            }
        }

        .cell {
            padding: .7rem;
            width: 100%;
            position: relative;

            &.points {
                width: 130px;
                min-width: 130px;
            }

            &.attempt {
                width: 120px;
                min-width: 120px;
            }

            &::after {
                content: '';
                position: absolute;
                width: calc(100% - 25px);
                height: 1px;
                background-color: var(--bg-color-accent);
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
            }

            &.subject, &.attempt, &.points {
                &::before {
                    content: '';
                    position: absolute;
                    height: calc(100% - 8px);
                    width: 1px;
                    background-color: var(--bg-color-accent);
                    left: 0%;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            &.subject {
                @include tablet {
                    display: none;
                }
            }

            &.attempt {
                @include tablet-sm {
                    display: none;
                }
            }

            &.points.average {
                @include tablet-xxsm {
                    display: none;
                }
            }
        }
    }
}

.load-more {
    margin-left: .6rem;
    padding: .4rem 1.8rem;
    border-radius: 7px;
    border: 1px solid var(--bg-color-accent) !important;
    background-color: transparent;
    color: var(--main-text-color);
    margin-top: .5rem;
    transition: .1s;

    &:hover {
        background-color: rgba(#000, .1);
    }
}