html {
  --primary-color: #4ADB71;
  --bg-color: #4ADB71;
  --dark-color: #42C465;
  --dark-color-lighten: rgb(77, 209, 112);
  --dark-primary-color: #42C465;
  --main-bg-color: #fff;
  --dark-main-bg-color: #eee;
  --dark-main-bg-color-shade: #e7e7e7;
  --main-text-color: #000;
  --danger-color: #fc393e;
}

@media (prefers-color-scheme: dark) {
  html {
    --bg-color: #333;
    --primary-color: rgb(42, 150, 71);
    --dark-primary-color: rgb(42, 150, 71);
    --dark-color: #2b2b2b;
    --dark-color-lighten: #313131;
    --main-bg-color: #444;
    --dark-main-bg-color: rgb(61, 61, 61);
    --dark-main-bg-color-shade: rgb(59, 59, 59);
    --main-text-color: #fff;
    --danger-color: #ff4a50;
  }
}

.test-card .points-card, .test-card .result-link {
  margin-top: .5rem;
}

.test-card .result-link {
  margin-left: 1rem;
}

.test-card .result-link:hover {
  text-decoration: underline;
}

.profile-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 470px) {
  .profile-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profile-block .profile-info {
    width: 100%;
    margin-left: 2rem;
  }
}

.profile-block .profile-img {
  width: 160px;
}

.profile-block .profile-img img {
  width: 100%;
}

.profile-block .profile-info__block {
  margin: .2rem 0;
  font-size: 1.1rem;
}

.results-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.results-table .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.results-table .row:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.results-table .row.head {
  cursor: initial;
}

.results-table .row.head .cell {
  text-align: center;
  font-weight: 800;
}

.results-table .row .cell {
  padding: .7rem;
  width: 100%;
  position: relative;
}

.results-table .row .cell.points {
  width: 130px;
  min-width: 130px;
}

.results-table .row .cell.attempt {
  width: 120px;
  min-width: 120px;
}

.results-table .row .cell::after {
  content: '';
  position: absolute;
  width: calc(100% - 25px);
  height: 1px;
  background-color: var(--bg-color-accent);
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.results-table .row .cell.view {
  width: 50px;
  min-width: 50px;
  color: var(--primary-color);
}

.results-table .row .cell.subject::before, .results-table .row .cell.attempt::before, .results-table .row .cell.points::before, .results-table .row .cell.view::before {
  content: '';
  position: absolute;
  height: calc(100% - 8px);
  width: 1px;
  background-color: var(--bg-color-accent);
  left: 0%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 890px) {
  .results-table .row .cell.subject {
    display: none;
  }
}

@media (max-width: 770px) {
  .results-table .row .cell.attempt {
    display: none;
  }
}

@media (max-width: 470px) {
  .results-table .row .cell.points.average {
    display: none;
  }
}

.load-more {
  margin-left: .6rem;
  padding: .4rem 1.8rem;
  border-radius: 7px;
  border: 1px solid var(--bg-color-accent) !important;
  background-color: transparent;
  color: var(--main-text-color);
  margin-top: .5rem;
  -webkit-transition: .1s;
  transition: .1s;
}

.load-more:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.Dropdown-control {
  height: 40px;
  border-color: transparent transparent var(--dark-primary-color) transparent;
  background-color: var(--dark-color) !important;
  color: var(--main-text-color) !important;
}

.Dropdown-option {
  background-color: var(--main-bg-color) !important;
  color: var(--main-text-color) !important;
}

.Dropdown-Placeholder {
  background-color: var(--dark-color) !important;
}
/*# sourceMappingURL=style.css.map */