html {
  --primary-color: #4ADB71;
  --bg-color: #4ADB71;
  --dark-color: #42C465;
  --dark-primary-color: #42C465;
  --main-bg-color: #fff;
  --dark-main-bg-color: #eee;
  --main-text-color: #000;
  --danger-color: #fc393e;
}

@media (prefers-color-scheme: dark) {
  html {
    --bg-color: #333;
    --primary-color: rgb(42, 150, 71);
    --dark-primary-color: rgb(42, 150, 71);
    --dark-color: #2b2b2b;
    --main-bg-color: #444;
    --dark-main-bg-color: rgb(61, 61, 61);
    --main-text-color: #fff;
    --danger-color: #ff4a50;
  }
}

.heading {
  font-size: 2.1rem;
  margin-bottom: 1.1rem;
}

.subheading {
  font-size: 1.6rem;
  margin-bottom: .8rem;
}

.page-top {
  margin-bottom: 1.3rem;
}

.page-top a {
  color: var(--dark-primary-color) !important;
  font-size: 1.3rem;
}

.btn, input.btn {
  position: relative;
  padding: .6rem 1.8rem !important;
  -webkit-appearance: button;
  background-color: var(--primary-color) !important;
  display: inline-block;
  margin-top: 1.3rem;
  margin-bottom: .1rem;
  color: #fff;
  border-radius: .5rem;
  font-weight: 700;
  border: none;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  line-height: 18px;
  height: 18px;
  padding-left: 18px;
  display: inline-block;
  position: relative;
}

input[type="radio"] + label:not(:empty) {
  padding-left: 26px;
}

input[type="radio"] + label:before, input[type="radio"] + label:after {
  content: '';
  width: 18px;
  height: 18px;
  display: block;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: absolute;
}

input[type="radio"] + label:before {
  background: #D1D7E3;
  -webkit-transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

input[type="radio"] + label:after {
  background: #fff;
  -webkit-transform: scale(0.78);
          transform: scale(0.78);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}

input[type="radio"]:checked + label:before {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  background: #42C465;
}

input[type="radio"]:checked + label:after {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.tests-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  width: 100%;
}

@media (min-width: 1540px) {
  .tests-container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  .tests-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.test-card {
  width: 100%;
  max-width: 430px;
  width: auto;
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 1.5rem;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

.test-card:hover {
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
}

.test-card__title {
  font-size: 1.5rem;
  font-weight: 800;
}

.test-card__subject {
  margin-top: .2rem;
  font-size: 1.1rem;
}

.test-card__description {
  margin: 1.1rem 0;
}

.test-card__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .5rem;
}

.test-card__btns .btns-btn {
  padding: .7rem;
  background-color: var(--dark-main-bg-color);
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.test-card__btns .btns-btn.left {
  border-top-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
}

.test-card__btns .btns-btn.right {
  border-top-right-radius: .4rem;
  border-bottom-right-radius: .4rem;
}

.test-card__btns .btns-btn .icon, .test-card__btns .btns-btn span {
  display: block;
}

.test-card__btns .btns-btn .icon {
  font-size: 1.3rem;
  margin-right: .4rem;
}

.test-card__date {
  margin-top: 1.5rem;
  color: #999ba3;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */