@import '../../css/config';

.field {
    position: relative;
    display: inline-block;
    min-width: 200px;
    width: auto;
    padding: .3rem;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 3px;
        width: 100%;
        background-color: #ddd;
        transition: all .2s;
        top: calc(100% + 2px);
        z-index: 2;
    }

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 3px;
        width: 0;
        z-index: 3;
        background-color: var(--dark-primary-color);
        transition: all .2s;
        top: calc(100% + 2px);
    }

    &:focus {
        outline: none;

        &:before {
            width: 100%;
        }
    }
}

.btn {
    display: block;
}

.results {
    margin-top: 1.3rem;
    max-width: 100%;
    text-align: left;
    // overflow-x: scroll;

    .chart-container {
        max-width: 900px;
        margin-top: 2rem;
    }
    
    
    table {
        width: 100%;
        

        .resultTr {
            border-radius: 1rem;
        }

        .resultTr:hover {
            background-color: rgba(#4ADB71, .1);
        }

        .points {
            width: 150px !important;
            min-width: 150px !important;

            &.time {
                width: 200px !important;
                min-width: 200px !important;
            }
        }
        
        td, th {
            padding: 10px;
        }

        td.points, th.points {
            position: relative;

            &::before {
                position: absolute;
                height: 80%;
                background-color: #ddd;
                content: '';
                
                width: 2px;
                left: -2px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        td.points {
            padding-left: 1rem;
        }

        .user {
            min-width: 400px !important;
        }

        th {
            font-size: 1.2rem;
            position: relative;
            text-align: center;

            &:hover {
                background-color: none !important;
            }

            &::after {
                content: '';
                position: absolute;
                background-color: #ddd;
                height: 1.5px;
                width: calc(100% - 20px);
                left: 50%;
                transform: translateX(-50%);
                top: calc(100% + 2px);
            }
        }
    }
}

.btn-block {
    display: flex;
    margin-top: .7rem;

    button {
        margin: 0;
        display: block;
        
        &.btn-cta {
            background-color: #fff;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &.like-btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background: none !important;
            border: 2px solid var(--primary-color);
            display: flex;
            align-items: center !important;
            color: var(--main-text-color) !important;

            .icon {
                display: block;
                font-size: 1.1rem;
                margin-right: .4rem;
            }

            span {
                display: block;
            }
        }
    }
}

.like-icon {

    &.active {
        color: red;
    }
}