@import '../../css/config';

$radioSize: 18px;
$radioBorder: #D1D7E3;
$radioActive: #42C465;

.test-form {
    margin-top: 2rem !important;
    margin-bottom: 3rem;
}

.answer {
    margin: .4rem 0;
    margin-left: .6rem;
    display: flex;
    align-items: center;


    label {
        display: block;
        margin-left: 1rem;
        font-size: 1.1rem;
    }

    input[type="radio"] {
        display: none;
        & + label {
            line-height: $radioSize;
            height: $radioSize;
            padding-left: $radioSize;
            display: block;
            position: relative;
            &:not(:empty) {
                padding-left: $radioSize + 8;
            }
            &:before,
            &:after {
                content: '';
                width: $radioSize;
                height: $radioSize;
                display: block;
                border-radius: 50%;
                left: 0;
                top: 0;
                position: absolute;
            }
            &:before {
                background: $radioBorder;
                transition: background .2s ease, transform .4s cubic-bezier(.175, .885, .32, 2);
            }
            &:after {
                background: #fff;
                transform: scale(.78);
                transition: transform .6s cubic-bezier(.175, .885, .32, 1.4);
            }
        }
        &:checked + label {
            &:before {
                transform: scale(1.04);
                background: $radioActive;
            }
            &:after {
                transform: scale(.4);
                transition: transform .3s ease;
            }
        }
    }
    &:hover {
        input {
            & + span {
                &:before {
                    transform: scale(.92);
                }
                &:after {
                    transform: scale(.74);
                }
            }
            &:checked + span {
                &:after {
                    transform: scale(.4);
                }
            }
        }
    }

}

.pass.question-container {
    position: relative;
    width: 100% !important;
    max-width: 100%;
    border: none;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(#000, .20);
    margin-top: 3rem;
    padding: 2rem;

    .question-container__toptitle {
        @include tablet-xsm {
            flex-direction: column;
            text-align: left;
            justify-content: left;
            align-items: left !important;
        }

        display: flex;
        align-items: center;
        // padding-bottom: 1rem;
        justify-content: space-between;

        &>div {
            text-align: left;
            margin-left: 0;
        }

        .left {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .right {
            font-size: 1rem;
            opacity: .9;
        }
    }
    
    .question-container__top {
        @include tablet {
            flex-flow: nowrap;
            max-width: 100%;
            overflow-x: scroll;
            margin-bottom: 0;
        }

        display: flex;
        flex-flow: row wrap;
        margin-bottom: 1rem;
        position: relative;
        padding: .5rem 0 1rem 0;

        &::-webkit-scrollbar-track {
            box-shadow: none !important;
            background-color: transparent;
            transition: all .2s;
            display: none;
        }

        // &::before {
        //     content: '';
        //     position: absolute;
        //     height: 1px;
        //     width: 95%;
        //     left: 50%;
        //     top: 0%;
        //     transform: translateX(-50%);
        //     background-color: var(--bg-color-accent);
        // }

        &::after {
            content: '';
            position: absolute;
            height: 1px;
            width: 95%;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
            background-color: var(--bg-color-accent);
        }

        .question-btn {
            min-width: 35px;
            min-height: 35px;
            border: 1px solid var(--bg-color-accent);
            border-radius: 50%;
            margin-right: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 800;
            cursor: pointer;

            &.current {
                border: 2px solid var(--primary-color);
            }

            &.answered {
                background-color: var(--primary-color);
            }
        }
    }

    .question-container__buttons {
        @include tablet-xsm {
            flex-direction: column;
            justify-content: center;
        }

        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        .buttons-left {
            @include tablet-xsm {
                text-align: center;
                margin-bottom: 1rem;
            }


            button {
                margin-right: .5rem;
            }
        }

        .buttons-right {
            @include tablet-xsm {
                text-align: center;
            }
        }

        button {
            @include tablet-xsm {
                width: 100%;
                max-width: 320px;
                margin-bottom: .2rem;
            }

            padding: .4rem 1.7rem;
            background: none;
            color: var(--main-text-color);
            border: 1.5px solid var(--primary-color);
            border-radius: .5rem;
            font-size: 1rem;
            font-weight: bold;

            &.cta {
                background-color: var(--primary-color);
            }

            &.disabled {
                cursor: not-allowed;
                border: 1px solid var(--primary-color);
                background: rgba(#000, .1);
            }
        }
    }
}

.info-block {
    @include tablet-xsm {
        top: auto;
        bottom: 0 !important;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
    }

    position: fixed;
    width: auto !important;
    max-width: 95% !important;
    z-index: 100;
    white-space: nowrap;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg-color);
    color: #fff;
    font-weight: 700;
    padding: .5rem 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(#000, .2);

    div {
        width: auto !important;
    }
}

.answer-block__text {
    justify-content: left !important;
}